<div class="shape"></div>
<div class="wrapper">
    <div class="container">
        <div class="emojis">
            <span class="emoji">🌏</span>
            <span class="emoji">👌</span>
            <span class="emoji">😍</span>
            <span class="emoji">🐣</span>
            <span class="emoji">🌭</span>
            <span class="emoji">✈️</span>
            <span class="emoji">🐳</span>
            <span class="emoji">👨‍💻</span>
        </div>
        <h1>hi i'm gun</h1>     
    </div>
</div>
<a>
    https://codepen.io/mrizkigunawan/pen/XWovJdX
</a>
@code 
{

}
