@inherits LayoutComponentBase


<div class="container-fluid p-0 m-0 bg-info">
    <NewNavMenu Header="Vira" />
    @Body
    <div class="bg-danger p-0 m-0">
        Footer
    </div>
</div>

<RadzenNotification />
