@layout TelerikLayout

@inherits LayoutComponentBase

<div class="container-fluid">
    
    @{ var bAdmin = true;}
    @if (!bAdmin)
    {
        <NewNavMenu Header="Vira"/>
    }
    else
    {
        <span>
            Admin
        </span>
    }

    @Body

</div>

<div class="bg-danger p-0 m-0">
    Footer
</div>
