<div class="">
    <div class="row" dir="rtl">
        <div class="col-6">
            @Title
        </div>
        <div class="col-6 text-start">
            <a href="@LinkToGo">
                <span>
                    @LinkTitle
                </span>
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="col-12">
            @DescriptionOfThisSection
        </div>
    </div>
    <div class="card-group bg-danger p-3">
        <div class="card rounded m-2" dir="rtl">
            <div class="card-img-top w-100 h-100 p-2">
                <div class="BackgroundCard rounded-3" alt="Card image cap">

                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tutorial title</h5>
                <p class="card-text">
                    Small Description
                </p>
            </div>
            <div class="card-body p-1">
                <div class="row">
                    <div class="col-6">
                        <span class="fa fa-user-circle-o"></span> user name
                    </div>
                    <div class="col-6 text-start fw-bold">
                        100,000 <span>قیمت</span> 
                    </div>
                </div>
            </div>
           
            <div class="card-body p-1">
                    
                <div class="row small text-muted">
                    <div class="col text-end ">
                        @* publish Date *@
                        ۱۴۰۲/۰۷/۱۹
                    </div>
                    <div class="col text-start">
                        @* Last updated DT *@
                        ۱۴۰۲/۰۷/۲۵
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>




@code 
{
    //Most add Model Here and get values from model

    [Parameter]
    public string? Title { get; set; } = "Title Is Empty";
    public string? LinkTitle { get; set; } = "Link title is empty";
    public string? DescriptionOfThisSection { get; set; } = "Description of this section";
    public string? LinkToGo { get; set; } = "https://www.google.com";

}
