@using Telerik.SvgIcons
<div class="">
    <div class="row" dir="rtl">
        <div class="col-6 h4">
            @Title
        </div>
        <div class="col-6 text-start">
            <a href="@LinkToGo">
                <span>
                    @LinkTitle
                </span>
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="col-12">
            @DescriptionOfThisSection
        </div>
    </div>
    <div class="card-group bg-danger p-3">
        <CardItem/>
        <CardItem/>
        <CardItem/>
    </div>
</div>




@code 
{
    //Most add Model Here and get values from model
    [Parameter]
    public string? Title { get; set; } = "Title Is Empty";
    [Parameter]
    public string? LinkTitle { get; set; } = "Link title is empty";
    [Parameter]
    public string? DescriptionOfThisSection { get; set; } = "Description of this section";
    [Parameter]
    public string? LinkToGo { get; set; } = "https://www.google.com";
}
