<div class="container">
    <div class="row p-5" style="height: 100vh">
        <div class="col-6 bg-warning order-1 justify-content-center align-content-center text-center p-5 d-flex" dir="rtl">
            <div class="text-end bg-danger align-middle">
                <h3>
                    تو فکر گسترش کسب و کارت هستی ؟
                </h3>
                <p class="">
                    برای گسترش کسب و کارت نیاز به سایت داری ؟
                </p>
                <p class="">
                    همین حالا شروع کن تا دیر نشده :) 
                </p>
                <small>
                    مجموعه ویرا با کادر مجرب شما را در مراحل کار همراهی می نماید.
                </small>
            </div>
        </div>
        <div class="col-6 bg-danger order-0">
            X2
        </div>
    </div>
</div>


@code {

}
