################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vira.Web/Client/bin/Debug/net7.0
