@model Opentag.ViewModels.Article.AddArticleViewModel

@{
    ViewData["Title"] = "AddArticle";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h1>AddArticle</h1>

<form asp-controller="Article" asp-action="AddArticle" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input name="NewArticle.Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input name="NewArticle.AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row media d-flex">
        <div class="col-lg-4 h-100">
            <img src="~/images/blog/post-image-background.jpg" class="img-thumbnail h-100" />
        </div>
        <div class="col-md-8 h-100">
            <div class="media-body row">
                <div class="col-12 align-self-start align-items-start">
                    <strong class="d-block align-self-start">Select an image</strong>
                </div>
                <div class="col-12 align-self-start align-items-start">
                    <p class="text-justify">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>

                <div class="col-12 align-self-end align-items-end d-flex justify-content-end">
                    <input name="NewArticle.PostImage" type="file" id="chooseImageInput" style="opacity:0;" class="btn btn-primary" />
                    <label for="chooseImageInput" class="btn btn-primary m-0">Browse</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <label for="article-file1" class="card">
                <img src="~/images/blog/slide-images-background.jpg" class="img-thumbnail float-left h-100" alt="" />
                <input name="NewArticle.Album" type="file" class="w-100" id="article-file1" style="display:none;" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </label>
        </div>
        <div class="col-md-4 mt-3">
            <label for="article-file2" class="card">
                <img src="~/images/blog/slide-images-background.jpg" class="img-thumbnail float-left h-100" alt="" />
                <input name="NewArticle.Album" type="file" class="w-100" id="article-file2" style="display:none;" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </label>
        </div>
        <div class="col-md-4 mt-3">
            <label for="article-file3" class="card">
                <img src="~/images/blog/slide-images-background.jpg" class="img-thumbnail float-left h-100" alt="" />
                <input name="NewArticle.Album" type="file" class="w-100" id="article-file3" style="display:none;" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group mt-3">
            <label asp-for="ShortBody" class="control-label"></label>
            <input name="NewArticle.ShortBody" class="form-control" />
            <span asp-validation-for="ShortBody" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group mt-3">
            <label asp-for="Body" class="control-label"></label>
            <textarea name="NewArticle.Body" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
    </div>
    <div class="row tagsRow">
        <div class="col-md-3 input-group mt-3">
            <input type="text" placeholder="New Tag" class="form-control h-100 tagInput" />
            <span class="text-danger"></span>
            <div class="input-group-append">
                <button type="button" class="btn btn-primary addTag">Add</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-2 mt-3">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-2 mt-3">
            <div class="form-group float-right">
                <input asp-controller="Article" asp-action="Articles" type="button" value="Back to list" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<script src="~/js/tag.js"></script>