@model Opentag.Models.Article
@{
    ViewData["Title"] = "EditArticle";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h1>EditArticle</h1>

<form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="AuthorAccount" class="control-label"></label>
                <input asp-for="AuthorAccount" class="form-control" />
                <span asp-validation-for="AuthorAccount" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row media d-flex">
        <div class="col-lg-4">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail float-left h-100" alt="" />
        </div>
        <div class="col-md-8">
            <div class="media-body">
                <div class="row">
                    <div class="col-12">
                        <strong class="d-block align-self-start">Image name</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-justify">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                    </div>
                </div>
                <div class="row d-flex align-self-end">
                    <div class="col-12 d-flex align-items-end justify-content-end">
                        <input type="button" value="Browse" class="btn btn-primary d-flex" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail float-left h-100" alt="" />
        </div>
        <div class="col-md-4 mt-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail float-left h-100" alt="" />
        </div>
        <div class="col-md-4 mt-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="img-thumbnail float-left h-100" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group mt-3">
            <label asp-for="ShortBody" class="control-label"></label>
            <input asp-for="ShortBody" class="form-control" />
            <span asp-validation-for="ShortBody" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group mt-3">
            <label asp-for="Body" class="control-label"></label>
            <textarea asp-for="Body" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 input-group mt-3">
            <input asp-for="ArticleTags" placeholder="New Tag" class="form-control h-100" />
            <span asp-validation-for="ArticleTags" class="text-danger"></span>
            <div class="input-group-append">
                <button class="btn btn-primary">Add</button>
            </div>
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-between" id="tag1">
            <div class="toast align-items-center text-bg-primary border-0 w-100 fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body w-100">
                        Hello
                    </div>
                    <button type="button" class="mx-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-between" id="tag2">
            <div class="toast align-items-center text-bg-primary border-0 w-100 fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body w-100">
                        Hello
                    </div>
                    <button type="button" class="mx-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-between" id="tag3">
            <div class="toast align-items-center text-bg-primary border-0 w-100 fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body w-100">
                        Hello
                    </div>
                    <button type="button" class="mx-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-between" id="tag4">
            <div class="toast align-items-center text-bg-primary border-0 w-100 fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body w-100">
                        Hello
                    </div>
                    <button type="button" class="mx-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-between" id="tag5">
            <div class="toast align-items-center text-bg-primary border-0 w-100 fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body w-100">
                        Hello
                    </div>
                    <button type="button" class="mx-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-between" id="tag6">
            <div class="toast align-items-center text-bg-primary border-0 w-100 fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body w-100">
                        Hello
                    </div>
                    <button type="button" class="mx-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-3 d-flex justify-content-between" id="tag7">
            <div class="toast align-items-center text-bg-primary border-0 w-100 fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body w-100">
                        Hello
                    </div>
                    <button type="button" class="mx-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" placeholder="Close comments" asp-for="CloseComment" /> @Html.DisplayNameFor(model => model.CloseComment)
                </label>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-2">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group float-right">
                <input asp-action="Articles" type="submit" value="Back to list" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>