
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}


<div class="col-md-4 offset-md-4 col-12 align-middle justify-content-center mx-auto">
    <div class="card shadow justify-content-center mx-auto">
        <div class="card-body justify-content-center mx-auto">
            <img class="w-50 h-50  mx-auto d-block" src="~/images/viralogo.png"/>
            <form class="form-group" asp-controller="AccountController" asp-action="Login" method="post">
                <div class="form-group">
                    <input class="form-control" placeholder="Username" />
                </div>
                <div class="form-group mb-5">
                    <input class="form-control" placeholder="Password" />
                </div>
                <div class="form-group text-center pt-5">
                    <p class="small">Don't remember your password?<a href="#">Resset password</a></p>
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>