@model Opentag.ViewModels.AddOrderViewModel

@{
    ViewData["Title"] = "Add Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="d-none CurrenPageTitle">6</section>

<section class=" container"  style="margin-top: 150px;">

    <h1>AddOrder</h1>

    <h4>Fill the form to create a new order</h4>
    <hr />

    <form asp-action="AddOrder"  >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Full Name</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label">Email Address</label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Discription" class="control-label"></label>
                        <textarea asp-for="Discription" class="form-control"></textarea>
                        <span asp-validation-for="Discription" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>


