@model Opentag.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="d-none CurrenPageTitle">5</section>
<section class="container ContactAll"  style="margin-top: 150px ;">
    <h1 class="ContactHeader">Contact</h1>

    <h4 class="ContactDescription">Contact us through this form</h4>
    <hr />
    

    <div class="row w-100 m-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2495.056694451905!2d50.86976464166794!3d34.6357018643979!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7886a1224a100a90!2z2YXYrNiq2YXYuSDYqtis2KfYsduMINqv2YbYrNuM2YbZhw!5e0!3m2!1sen!2snl!4v1650188722463!5m2!1sen!2snl" style="border:1px solid; color:#ced4da; width:inherit; height:300px;" allowfullscreen="" loading="lazy"></iframe>

    </div>

    <form asp-action="Contact" asp-controller="Home" method="post">
        <div class="row mt-3">

            <div class="col-lg-6 form-group mt-2">
                <input class="form-control InputName" asp-for="FullName" placeholder="Full name" />
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
            <div class="col-lg-6 form-group mt-2">
                <input class="form-control InputEmail" asp-for="EmailAddress" placeholder="Email address"/>
                <span class="text-danger" asp-validation-for="EmailAddress" ></span>
            </div>
            <div class="col-lg-6 form-group mt-2">
                <input class="form-control  InputPhone" asp-for="PhoneNumber" placeholder="Phone number"  />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-lg-6 form-group mt-2">
                <input  class="form-control InputSubject" asp-for="Subject" placeholder="Subject" />
                <span class="text-danger " asp-validation-for="Subject" ></span>
                
            </div>
            <div class="col-lg-12 form-group mt-2">
                <textarea class="form-control InputMessage" asp-for="Message" placeholder="Message" style="height:250px;" ></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="col-lg-12 form-group">
                <input type="submit" value="submit" class="btn btn-primary BtnSubmit" />
            </div>
        </div>
    </form>

    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@
</section>
