@model Opentag.Models.Contact;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class=" ">
    <section class="section-style-main">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/Main.jpg" class="d-block w-100 slider-image" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Vira developers group</h3>
                        <p>The way of technology! Discover the future of human kind.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/Main2.jpg" class="d-block w-100 slider-image" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>We are working!</h3>
                        <p>Many people are working in the background of our team to provide features and facilities to execute your ideas.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="heading-style techHeader">Technologies</h1>
                </div>
            </div>
            <div class="row technologies-row-style">
                <div class="col-lg-3 technologies-box-style">
                    <div class="technologies-image-style">
                        <img src="~/images/technologies/gear.png" alt="">
                    </div>
                    <div class="technologies-title-style">
                        <h6 style="font-weight:bold;" >Entity Framework Core</h6>
                    </div>
                    <div class="technologies-text-style">
                        <p class="EntityFrameworkBody">Is a technology to support server side codes and bring a powerful secure environment for your web apps.</p>
                    </div>
                </div>
                <div class="col-lg-3 technologies-box-style">
                    <div class="technologies-image-style">
                        <img src="~/images/technologies/coding.png" alt="">
                    </div>
                    <div class="technologies-title-style">
                        <h6 style="font-weight:bold;">ASP.NET Core</h6>
                    </div>
                    <div class="technologies-text-style ">
                        <p class="ASPCore">Opentag workspace use DotNet Core framework to build and develop cross platform applications over Microsoft technologies.</p>
                    </div>
                </div>
                <div class="col-lg-3 technologies-box-style">
                    <div class="technologies-image-style">
                        <img src="~/images/technologies/pie-chart.png" alt="">
                    </div>
                    <div class="technologies-title-style">
                        <h6 style="font-weight:bold;" class="MVCDesignpatternHeader">MVC Design pattern</h6>
                    </div>
                    <div class="technologies-text-style">
                        <p class="MVCDesignpatternBody">Our projects is devided in three separated smart sections, which are related to eachother and make programming easier.</p>
                    </div>
                </div>
                <div class="col-lg-3 technologies-box-style">
                    <div class="technologies-image-style">
                        <img src="~/images/technologies/puzzle-pieces.png" alt="">
                    </div>
                    <div class="technologies-title-style">
                        <h6 style="font-weight:bold;" class = "BootstrapFrameworkHeader">Bootstrap framework</h6>
                    </div>
                    <div class="technologies-text-style">
                        <p class="BootstrapFramework">Frontend developers in Opentag team setup views based on Bootstrap framework and many selfmade libraries.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section-style-blue">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 about-image-style">


                </div>
                <div class="col-lg-6">
                    <div class="about-content-style">
                        <h1 class="heading-style AboutSection" style="color:white;">About</h1>
                        <div class="about-text-style">
                            <p class="about-paragraph-style AboutSection1">Our team is interested about building web apps, mobile apps and game developing over Microsoft practical and useful frameworks.</p>
                            <p class="about-paragraph-style AboutSection2">If you like to help or support programming communities, please follow us to make world a better place.</p>
                            <p class="about-paragraph-style AboutSection3">This is our duty to refer different services to our customers. This will show how much we care about people who care about us.</p>
                            <p class="about-paragraph-style "><a href="#" style="color:#468fb3" class="AboutSection4">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-style">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <div class="contact-content-style">
                        <h1 class="heading-style ContactSection">Contact</h1>
                        <p class="contact-paragraph-style ContactSectionBody">Send us your reviews. It'll help us in development.</p>
                        @*<form asp-action="Index" asp-controller="Home" method="post">
                            <input asp-for="FullName" />
                            <input asp-for="EmailAddress" />
                            <input asp-for="PhoneNumber" />
                            <input asp-for="Subject" />
                            <textarea asp-for="Message"></textarea>
                            <button type="submit">Button</button>
                        </form>*@

                        <form asp-action="Index" asp-controller="Home" class="contact-form-style" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">

                                <div class="col-lg-6 mt-3">
                                    <input asp-for="FullName" placeholder="Full name" class="contact-input-style ContactFormName" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <input asp-for="EmailAddress" placeholder="Email address" class="contact-input-style ContactFormEmail" />
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-lg-6 mt-3">
                                    <input asp-for="PhoneNumber" placeholder="Phone number" class="contact-input-style ContactFormPhone" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <input asp-for="Subject" placeholder="Subject" class="contact-input-style ContactFormSubject" />
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-lg-12 mt-3">
                                    <textarea asp-for="Message" type="text" placeholder="Message" class="contact-textarea-style ContactFormMessage"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">   
                                <div class="col-lg-12 mb-3" style="text-align: center;">
                                    <button type="submit" class="btn btn-dark contact-button-style ContactFormBtn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-lg-6 contact-image-style">

                </div>
            </div>
        </div>
    </section>







    <section class="section-style-blue">
        <div class="container pb-5">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="heading-style" style="color: white;">Services</h1>
                </div>
            </div>


            <div class="row services-row-style" style="text-align: center">

                <div class="col-md-4 col-12 order-1 order-md-1 services-box-style">
                    <div class="services-title-style">
                        <h4>Support</h4>
                    </div>
                    <div>
                        <p class="services-paragraph-style text-justify">It is our responsibility to provide support for products, we developed.</p>
                        <p class="services-paragraph-style text-justify">We will support our products which produced by our team.</p>
                        <p class="services-paragraph-style text-justify">Depend on product you have, there is 6 months to 1 year of problem solution support for each plan of web apps designing.</p>
                    </div>
                </div>

                <div class="col-md-4 col-12 order-3 order-md-2 services-box-style">
                    <div class="services-title-style">
                        <h4>Free consultation</h4>
                    </div>
                    <div>
                        <p class="services-paragraph-style text-justify">Different development plans of web applications will be provided to client’s depends on their requirements and purposes.</p>
                        <p class="services-paragraph-style text-justify">Due to importance of user experiences deigning of apps, there is a Free consultation of your required goal features to products you need.</p>
                    </div>
                </div>

                <div class="col-md-4 col-12 order-5 order-md-3 services-box-style">
                    <div class="services-title-style">
                        <h4>Security</h4>
                    </div>
                    <div>
                        <p class="services-paragraph-style text-justify">We take care of your information through components dedicated to securing applications products are protected by anti-fishing components of Asp.net core framework.</p>
                        <p class="services-paragraph-style text-justify">In addition, there is a secure authentication for web apps which are produced by Microsoft Identity.</p>
                    </div>
                </div>

                <div class="col-md-4 col-12 order-2 order-md-4 mt-2 services-box-style">
                    <p class="services-paragraph-style text-justify"><a asp-action="Services" style="color:#468fb3">Read more</a></p>
                </div>

                <div class="col-md-4 col-12 order-4 order-md-5 mt-2 services-box-style">
                    <p class="services-paragraph-style text-justify"><a asp-action="Services" style="color:#468fb3">Read more</a></p>
                </div>

                <div class="col-md-4 col-12 order-6 order-md-6 mt-2 services-box-style">
                    <p class="services-paragraph-style text-justify"><a asp-action="Services" style="color:#468fb3">Read more</a></p>
                </div>

            </div>

        </div>
    </section>
    <!--End of Section 5-->
    <!--Section 6-->
    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="heading-style">Members</h1>
                </div>
            </div>
            <div class="row members-row-style" style="text-align: center">

                <div class="col-lg-3 members-box-style">
                    <div class="members-image-style">
                        <img src="~/images/members/Portrait1.png" alt="">
                    </div>
                    <div class="members-text-style">
                        <p>Mohammad javad Najafi</p>
                    </div>
                </div>

                <div class="col-lg-3 members-box-style">
                    <div class="members-image-style">
                        <img src="~/images/members/Portrait2.png" alt="">
                    </div>
                    <div class="members-text-style">
                        <p>Amir hossein Khazaeli</p>
                    </div>
                </div>

                <div class="col-lg-3 members-box-style">
                    <div class="members-image-style">
                        <img src="~/images/members/Portrait3.png" alt="">
                    </div>
                    <div class="members-text-style">
                        <p>Amir hossein sahifi</p>
                    </div>
                </div>

                <div class="col-lg-3 members-box-style">
                    <div class="members-image-style">
                        <img src="~/images/members/Portrait4.png" alt="">
                    </div>
                    <div class="members-text-style">
                        <p>Mohammad javad Zackerian</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--End of Section 6-->
</section>
    
  





