
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="d-none CurrenPageTitle">3</section>
<section class="container OrderCol"  style="margin-top: 150px;">
    <h1 class="OrderHeader">Order</h1>
    <h4 class="OrderHeader2">Contact us through this form</h4>
    <hr />

    <p class="mb-5 OrderDscription">We will provide different order plan for your business. It's our reponsibility to make our customers satisfied. At the time we have two order plans:</p>


    <div class="row mt-5">

        <div class="col-lg-4 mt-5">
            <div class="card mb-5" style="position: relative;">

                <div class="rounded-circle align-self-center shadow"
                     style="background-color: white; width: 130px; height: 130px; position: absolute; top: -15.5%; display: flex;">
                    <img src="~/images/order/Standard-vec.png" class="w-75 h-75 mx-auto my-auto d-block">
                </div>

                <div class="card-body mt-5 shadow" style="position: relative;">
                    <div class="card-title pb-5 pt-3">
                        <h3 class="font-weight-bold text-center PlantHeaderStandard">
                            Standard
                        </h3>
                        <h1 class="font-weight-bolder text-center PlantPriceStandard">
                            599$
                        </h1>
                    </div>
                    <div class="card-text pt-5 align-bottom">
                        <ul>
                            <li class="PlantText1Standard">
                                6 month support
                            </li>
                            <li class="PlantText2Standard">
                                UI/UX design
                            </li>
                            <li class="PlantText3Standard">
                                Logo designing
                            </li>
                            <li class="PlantText4Standard">
                                Administrator panel
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-5">
            <div class="card mb-5" style="position: relative;">

                <div class="rounded-circle align-self-center shadow"
                     style="background-color: white; width: 130px; height: 130px; position: absolute; top: -15.5%; display: flex;">
                    <img src="~/images/order/Premium-vec.png" class="w-75 h-75 mx-auto my-auto d-block">
                </div>

                <div class="card-body mt-5 shadow" style="position: relative;">
                    <div class="card-title pb-5 pt-3">
                        <h3 class="font-weight-bold text-center PlantHeaderPremium">
                            Premium
                        </h3>
                        <h1 class="font-weight-bolder text-center PlantPricePremium">
                            999$
                        </h1>
                    </div>
                    <div class="card-text align-bottom">
                        <ul>
                            <li class="PlantText1Premium ">
                                1 year support
                            </li>
                            <li class="PlantText2Premium">
                                UI/UX design (3 samples)
                            </li>
                            <li class="PlantText3Premium">
                                Logo designing
                            </li>
                            <li class="PlantText4Premium">
                                Administrator panel
                            </li>
                            <li class="PlantText5Premium">
                                Host & domain
                            </li>
                            <li class="PlantText6Premium">
                                Premium images
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-5">
            <div class="card mb-5" style="position: relative;">

                <div class="rounded-circle align-self-center shadow"
                     style="background-color: white; width: 130px; height: 130px; position: absolute; top: -15.5%; display: flex;">
                    <img src="~/images/order/Gold-vec.png" class="w-75 h-75 mx-auto my-auto d-block">
                </div>

                <div class="card-body mt-5 shadow" style="position: relative;">
                    <div class="card-title pb-5 pt-3">
                        <h3 class="font-weight-bold text-center PlantHeaderGold">
                            GOLD
                        </h3>
                        <h1 class="font-weight-bolder text-center PlantPriceGold">
                            1499$
                        </h1>
                    </div>
                    <div class="card-text pt-5">
                        <ul>
                            <li class="PlantText1Gold">
                                6 month support
                            </li>
                            <li class="PlantText2Gold">
                                UI/UX design
                            </li>
                            <li class="PlantText3Gold">
                                Logo designing
                            </li>
                            <li class="PlantText4Gold">
                                Administrator panel
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="" scope="col">#</th>
                        <th class="Plan1" scope="col">Standard</th>
                        <th class="Plan2" scope="col">Premium</th>
                        <th class="Plan3" scope="col">GOLD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan1Text1 d-inline">
                                6 month support
                            </section>
                        </td>
                        <td class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan2Text1 d-inline">
                                1 year support
                            </section>
                        </td>
                        <td class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan3Text1 d-inline">
                                1 year support
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan1Text2 d-inline">
                                UI/UX design
                            </section>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan2Text2 d-inline">
                                UI/UX design (3 samples)
                            </section>
                            
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan3Text2 d-inline">
                                UI/UX design (3 samples)
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan1Text3 d-inline">
                                Logo designing
                            </section>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan2Text3 d-inline">
                                Logo designing
                            </section>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan3Text3 d-inline">
                                Logo designing
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            <del class="text-danger Plan1Text4">Administrator panel</del>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan2Text4 d-inline">
                                Administrator panel
                            </section>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan3Text4 d-inline">
                                Administrator panel
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            <del class="Plan1Text5 text-danger">Host & domain</del>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan2Text5 d-inline">
                                Host & domain
                            </section>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan3Text5 d-inline">
                                Host & domain
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            <del class="Plan1Text6 text-danger">Premium images</del>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan2Text6 d-inline">
                                Premium images
                            </section>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg>
                            <section class="Plan3Text6 d-inline">
                                Premium images
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <form>
                <button type="submit" asp-controller="Home" asp-action="AddOrder" class="btn btn-dark">
                    Order now
                </button>
            </form>
        </div>
    </div>

</section>
