
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order</h1>
<h4>Order us through this form</h4>
<hr />
<p class="mb-5">We will provide different order plan for your business. It's our reponsibility to make our customers satisfied. At the time we have two order plans:</p>


<div class="row mt-5">

    <div class="col-lg-4 mt-5">
        <div class="card mb-5" style="position: relative;">

            <div class="rounded-circle align-self-center shadow"
                 style="background-color: white; width: 130px; height: 130px; position: absolute; top: -15.5%; display: flex;">
                <img src="~/images/order/Standard-vec.png" class="w-75 h-75 mx-auto my-auto d-block">
            </div>

            <div class="card-body mt-5 shadow" style="position: relative;">
                <div class="card-title pb-5 pt-3">
                    <h3 class="font-weight-bold text-center">
                        Standard
                    </h3>
                    <h1 class="font-weight-bolder text-center">
                        599$
                    </h1>
                </div>
                <div class="card-text pt-5 align-bottom">
                    <ul>
                        <li>
                            6 month support
                        </li>
                        <li>
                            UI/UX design
                        </li>
                        <li>
                            Logo designing
                        </li>
                        <li>
                            Administrator panel
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mt-5">
        <div class="card mb-5" style="position: relative;">

            <div class="rounded-circle align-self-center shadow"
                 style="background-color: white; width: 130px; height: 130px; position: absolute; top: -15.5%; display: flex;">
                <img src="~/images/order/Premium-vec.png" class="w-75 h-75 mx-auto my-auto d-block">
            </div>

            <div class="card-body mt-5 shadow" style="position: relative;">
                <div class="card-title pb-5 pt-3">
                    <h3 class="font-weight-bold text-center">
                        Premium
                    </h3>
                    <h1 class="font-weight-bolder text-center">
                        999$
                    </h1>
                </div>
                <div class="card-text align-bottom">
                    <ul>
                        <li>
                            1 year support
                        </li>
                        <li>
                            UI/UX design (3 samples)
                        </li>
                        <li>
                            Logo designing
                        </li>
                        <li>
                            Administrator panel
                        </li>
                        <li>
                            Host & domain
                        </li>
                        <li>
                            Premium images
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mt-5">
        <div class="card mb-5" style="position: relative;">

            <div class="rounded-circle align-self-center shadow"
                 style="background-color: white; width: 130px; height: 130px; position: absolute; top: -15.5%; display: flex;">
                <img src="~/images/order/Gold-vec.png" class="w-75 h-75 mx-auto my-auto d-block">
            </div>

            <div class="card-body mt-5 shadow" style="position: relative;">
                <div class="card-title pb-5 pt-3">
                    <h3 class="font-weight-bold text-center">
                        GOLD
                    </h3>
                    <h1 class="font-weight-bolder text-center">
                        1499$
                    </h1>
                </div>
                <div class="card-text pt-5">
                    <ul>
                        <li>
                            6 month support
                        </li>
                        <li>
                            UI/UX design
                        </li>
                        <li>
                            Logo designing
                        </li>
                        <li>
                            Administrator panel
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Standard</th>
                    <th scope="col">Premium</th>
                    <th scope="col">GOLD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        6 month support
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        1 year support
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        1 year support
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        UI/UX design
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        UI/UX design (3 samples)
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        UI/UX design (3 samples)
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Logo designing
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Logo designing
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Logo designing
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        <del class="text-danger">Administrator panel</del>
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Administrator panel
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Administrator panel
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        <del class="text-danger">Host & domain</del>
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Host & domain
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Host & domain
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        <del class="text-danger">Premium images</del>
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Premium images
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        Premium images
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>