@*@{
    Layout = "_Layout";
}*@

<body style="padding:0!important; margin:0!important;" class="m-0">

    @*  Partial load of Menu    *@

    <partial name="_navbar" />
    @*@await Component.InvokeAsync("CartComponent")*@
    @* @await Component.InvokeAsync("SupportWebComponent")*@
    @*  Partial load of Menu    *@



    @*  Partial load of Page content    *@

    @RenderBody()

    @*  Partial load of Page content    *@



    @*  Partial load of footer    *@

    <partial name="_footer" />

    @*  Partial load of footer    *@

    @RenderSection("Scripts", false)

</body>
